.rightbar{
    /* position:sticky;
    
    height: 100vh;
    border-left:  1px solid #E0DFDE ; */

    /* left: 0;
    height: 100vh;
    overflow: scroll;
    width: 400px; */

   
    

    /* position: sticky;
height:100vh;
overflow: scroll;
border-right: 1px solid #E0DFDE;
background-color: white;
width: 262px;
font-size: 16px; */
 

}

.rightbar::-webkit-scrollbar{
    display: none;
}


.container-rightbar{
    /* width: 400px;
    padding: 20px; */


}

.itemr{

    padding: 18px;
    margin-bottom: 20px;

}

.ruser{

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;

}
.userinfo{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

.buttonr{
display: flex;
align-items: center;
display: flex;
align-items: center;
gap: 10px;
}

.imgo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.buttonfd{
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;

}

.buttonfd:nth-child(1){
    background-color:#6352d2;
}
.buttonfd:nth-child(2){
    background-color: red;
}

.p{
    color: grey;
    font-size: 10px;
}
.span{
  color: black;
  font-weight: 500;
}

.p{
    color: grey;
    font-size: 15px;
}


.online{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: 0;
    left: 20px;
}

.search-card{
    margin: 3px;
    margin-left:15px ;
    width: 320px;
    /* display:flex;
    flex-direction:column; */
    height: 169px;
    padding:8px !important;
    gap:10px;
    overflow: scroll !important
   

}

.search-card::-webkit-scrollbar{
display: none;
}


.search-user-box{
    display:flex;
    align-items:center;
    padding:10px;
    gap:10px;
    cursor: pointer;
}

.search-user-box:hover{
    background-color: #d9d9da;
    border-radius: 10px;
}