.paper{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 20px;

}

.card{

    display: flex;
    justify-content: center;
    align-items: center;
     
    
}
.button{
    width:100px;
    height:40px;
    background-color:#BF9A8E!important;
    margin-left: 70px !important;
    
}
.aad{
    color:#BF9A8E;
    margin-top: 30px !important;
    margin-left: 28px !important;

    
}
.text{
    border: 2px ,solid !important;
    border-color: rgb(205, 201, 201) !important;
}

.box{
     display: flex;
     flex-direction: column;
     align-items: center;
     

}

.tablerow{
   
    -webkit-text-fill-color: aliceblue !important;
    background-color: black;  
}



.containerh{
    width: 100%;
    display: flex;

}

/* 
.boxoverflow{
    overflow: scroll;
}

.boxoverflow::-webkit-scrollbar{
    display:none;
} */


.card-club{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.text-club{
width: 50%;
}