.paper{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 20px;

}

.card{

    display: flex;
    justify-content: center;
    align-items: center;
     
    
}
.button{
    width:100px;
    height:40px;
    background-color:#BF9A8E!important;
    margin-left: 70px !important;
    
}
.aad{
    color:#BF9A8E;
    margin-top: 30px !important;
    margin-left: 28px !important;

    
}
.text{
    border: 2px ,solid !important;
    border-color: rgb(205, 201, 201) !important;
}

.box{
     display: flex;
     flex-direction: column;
     align-items: center;
     

}

.tablerow{
   
    -webkit-text-fill-color: aliceblue !important;
    background-color: black;  
}



.containerh{
    width: 100%;
    display: flex;

}

/* 
.boxoverflow{
    overflow: scroll;
}

.boxoverflow::-webkit-scrollbar{
    display:none;
} */


.card-club{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.text-club{
width: 50%;
}
.search-card-ad{
    margin: 3px;
    margin-left:15px ;
    width: 320px;
    /* display:flex;
    flex-direction:column; */
    height: 169px;
    padding:1px !important;
    gap:20px;
    overflow: scroll !important
   

}

.search-card-ad::-webkit-scrollbar{
display: none;
}


.search-user-box-ad{
    width: 320px;
    display:flex;
    padding:10px;
    gap:10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.search-user-box-ad:hover{
    background-color: #d9d9da;
    border-radius: 10px;
}